.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}

.fighter-preview__user h1 {
  color: #fff;
  margin-bottom: 5px;
}

.fighter-preview__user div {
  font-size: 19px;
  color: #fff;
}

